@model trSys.DTOs.LessonDto
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="/css/lessons_style.css" />

<aside class="sidebar">
    @if (User.IsInRole("Admin"))
    {
        <a class="btn button1" onclick="location.href='@Url.Action("Create", "Lessons", new { moduleId = Model.ModuleId })'">Создать урок</a>
    }
    <a href="@Url.Action("Details", "Modules", new { id = Model.ModuleId })" style="margin-top: auto; display: inline-flex; align-items: center;" class="btn button2">Вернуться к модулю</a>
</aside>

<main class="main-content">
    <h1 class="page-title">@Model.Title</h1>

    <div class="lesson-details">
        <article class="course-card">
            <h3 class="course-title">@Model.Title</h3>
            <p class="course-description">@(Model.Description ?? "Описание отсутствует")</p>
            <a href="@Url.Action("Start", "Lessons", new { id = Model.Id })" class="btn button">Начать урок</a>
        </article>
    </div>
</main>